<div style="height:100%; z-index: 5; background-color: black;" class="shadow">
<md-sidenav
    style="height:100%"
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="4"
    md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools" style="color: white"> Pay on time </div>
    </md-toolbar>
    <md-content >
        <md-list class="md-dense" flex ui-sref="employees">
            <md-list-item md-ink-ripple ng-click="()">
                  <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                      <ng-md-icon icon="group" style=""></ng-md-icon>
                    </div>
                    <div class="inset">
                        Certified Professionals
                    </div>
                  </md-item-content>
            </md-list-item>
            <md-list-item md-ink-ripple ng-click="()">
                  <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                      <ng-md-icon icon="payment" style=""></ng-md-icon>
                    </div>
                    <div class="inset">
                        Courses
                    </div>
                  </md-item-content>
            </md-list-item>
            <md-list-item md-ink-ripple ng-click="()">
                  <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                      <ng-md-icon icon="av_timer" style=""></ng-md-icon>
                    </div>
                    <div class="inset">
                        Enroll
                    </div>
                  </md-item-content>
            </md-list-item>
            <md-list-item md-ink-ripple ng-click="()">
                  <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                      <ng-md-icon icon="monetization_on" style=""></ng-md-icon>
                    </div>
                    <div class="inset">
                        Contact Us
                    </div>
                  </md-item-content>
            </md-list-item>
        </md-list>
    </md-content>

</md-sidenav>
</div>