<md-toolbar md-scroll-shrink class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSideNav('left');" hide-gt-sm>
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        Courses
        <span flex></span>
        <md-input-container class="md-block" style="top:16px;">
          <label style="color: #E7F4FE">Search</label>
          <input ng-model="search" style="color: white; border-color: #E7F4FE">
        </md-input-container>
        <ng-md-icon icon="search" style=""></ng-md-icon>
    </div>
</md-toolbar>

<!--<md-content flex style="background-color: #EAEAEA;">

    <div layout="column" layout-align="center center" ng-hide="courses.length" layout-fill>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

</md-content>-->

<md-content flex style="background-color: #EAEAEA;" layout="column" layout-padding layout-align="start center">    

    <h1>GET TRAINED! GET CERTIFIED! GET HIRED! </h1>
    <h3> A Training Lab for Professionals</h3>
    <p><ng-md-icon icon="check" style="fill: #00796B"></ng-md-icon> we bring HandsOn Trainings which provides you remarkable learning experience at a inexpensive cost!</p>
    <p><ng-md-icon icon="check" style="fill: #00796B"></ng-md-icon> Our mission is to deliver Simply Easy Learning with clear, crisp, and to-the-point trainings on a wide range of technical and non-technical subjects without any preconditions and impediments.</p>
      
</md-content>