<md-toolbar md-scroll-shrink class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSideNav('left');" hide-gt-sm>
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        About
        <span flex></span>
        
    </div>
</md-toolbar>

<!--<md-content flex style="background-color: #EAEAEA;">

    <div layout="column" layout-align="center center" ng-hide="courses.length" layout-fill>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

</md-content>-->

<md-content style="background-color: #EAEAEA;"  layout-padding>    

    <md-card layout="column" layout-align="center center" layout-padding>
            <span class="md-headline">ABOUT DIAMOND 888</span>
            <span class="md-subhead">Learn from the Industry Experts and Get Certified</span>
            
            <div layout-gt-sm="row" layout-wrap layout-align="center start">
                <div flex layout="column" layout-padding layout-align="start start">
                    <span class="md-subhead"><b>BACKGROUND</b></span>
                    <p>
                        diamond888.pro is an educational technology and certification body being part of Diamond 888 General Merchandise. diamond888.pro offers offers a wide range of technological services and solutions for various web, social, mobile platforms, learning analytics and educational cloud services.
                    </p>
                </div>
                <div flex layout="column" layout-padding layout-align="start start">
                    <span class="md-subhead"><b>Vision</b></span>
                    <p>
                        To reach thousands of students, provide individualized learning experiences, continuously support their knowledge growth and be industry-ready, based on state-of-art research work in educational technology and learning design.
                    </p>
                </div>
            </div>
    </md-card>
    
    <md-card layout="column" layout-align="center center" layout-padding>
        
        <span class="md-headline">OUR VALUES</span>
        
        <div flex class='md-padding' layout-gt-xs="row" layout-wrap layout-align="center center">
            
            <md-card md-ink-ripple style="width:280px; height: 220px;" layout="column" layout-padding layout-align="start center">
                    <div style="width:64px; height: 64px">
                        <ng-md-icon icon="school" style="fill: #00838F;" size="64"></ng-md-icon>
                    </div>
                    <span class="md-headline">Learner-Centered</span>
                    <span class="md-subhead"><center>Committed to excellent learning design and pedagogy</center></span>
            </md-card>
            
            <md-card md-ink-ripple style="width:280px; height: 220px;" layout="column" layout-padding layout-align="start center">
                    <div style="width:64px; height: 64px">
                        <ng-md-icon icon="trending_up" style="fill: #00838F;" size="64"></ng-md-icon>
                    </div>
                    <span class="md-headline">Personal Development</span>
                    <span class="md-subhead"><center>Thrive for individualized learning experiences and continuous growth of students</center></span>
            </md-card>
            
            <md-card md-ink-ripple style="width:280px; height: 220px;" layout="column" layout-padding layout-align="start center">
                    <div style="width:64px; height: 64px">
                        <ng-md-icon icon="account_circle" style="fill: #00838F;" size="64"></ng-md-icon>
                    </div>
                    <span class="md-headline">Industrial Leader</span>
                    <span class="md-subhead"><center>Learn from industrial leaders and instructors with extensive experiences in the subject domain</center></span>
            </md-card>
        </div>
        
        <div flex class='md-padding' layout-gt-xs="row" layout-wrap layout-align="center center">
            
            <md-card md-ink-ripple style="width:280px; height: 220px;" layout="column" layout-padding layout-align="start center">
                    <div style="width:64px; height: 64px">
                        <ng-md-icon icon="school" style="fill: #00838F;" size="64"></ng-md-icon>
                    </div>
                    <span class="md-headline">Knowledge Base</span>
                    <span class="md-subhead"><center>Offer a great variety of courses and build up knowledge base</center></span>
            </md-card>
            
            <md-card md-ink-ripple style="width:280px; height: 220px;" layout="column" layout-padding layout-align="start center">
                    <div style="width:64px; height: 64px">
                        <ng-md-icon icon="trending_up" style="fill: #00838F;" size="64"></ng-md-icon>
                    </div>
                    <span class="md-headline">Quality Education</span>
                    <span class="md-subhead"><center>Provide quality education to students irrespective of the course enrolled</center></span>
            </md-card>
            
            <md-card md-ink-ripple style="width:280px; height: 220px;" layout="column" layout-padding layout-align="start center">
                    <div style="width:64px; height: 64px">
                        <ng-md-icon icon="new_releases" style="fill: #00838F;" size="64"></ng-md-icon>
                    </div>
                    <span class="md-headline">Employability</span>
                    <span class="md-subhead"><center>Be industry-ready and competitive in job market with highly demanded hands-on skillsets</center></span>
            </md-card>
        </div>
        
    </md-card>
    
    <md-card layout="column" layout-align="center center" layout-padding>
        
        <span class="md-headline">OUR TARGET AUDIENCE</span>
        
        <div flex class='md-padding' layout-gt-xs="row" layout-wrap layout-align="center center">
            
            <div flex-gt-xs="70" layout="column" layout-padding layout-align="start center">
                <span class="md-subhead">
                        Our target audience are those individuals, from housewives to professionals, who are eager to expand their knowledge and skillsets in specific subject areas through following a flexible learning manner and a customized learning path provided
                </span>
            </div>
            
            <div flex-gt-xs="30" layout="column" layout-padding layout-align="start center">
                    <div style="width:128px; height: 128px">
                        <ng-md-icon icon="my_location" style="fill: #00838F;" size="128"></ng-md-icon>
                    </div>
            </div>
        </div>
        
    </md-card>
    
    <md-card layout="column" layout-align="center center" layout-padding>
        
        <span class="md-headline">GOALS OF DIAMOND 888 VENTURE</span>
        
        <div flex class='md-padding' layout-gt-xs="row" layout-wrap layout-align="center center">
            
            <div flex-gt-xs="30" layout="column" layout-padding layout-align="start center">
                    <div style="width:128px; height: 128px">
                        <ng-md-icon icon="beenhere" style="fill: #00838F;" size="128"></ng-md-icon>
                    </div>
            </div>
            
            <div flex-gt-xs="70" layout="column" layout-padding layout-align="start center">
                <span class="md-subhead">
                        <ng-md-icon icon="check" style="fill: #00838F;"></ng-md-icon> Offer quality courses in various streams for students at an affordable price <br/>

                        <ng-md-icon icon="check" style="fill: #00838F;"></ng-md-icon> Prepare students with better employability through certified programs or courses <br/>

                        <ng-md-icon icon="check" style="fill: #00838F;"></ng-md-icon> Provide customized learning paths for individual students with regards to their varied learning styles, capabilities and goals <br/>

                        <ng-md-icon icon="check" style="fill: #00838F;"></ng-md-icon> Be the largest educational portal providing excellent revenue sharing to the instructors <br/>
                </span>
            </div>
        </div>
        
    </md-card>
    
    
    
</md-content>